{$DOMAIN} {
  encode zstd gzip

  basic_auth {
    sniktitt $2a$14$X3YUZf3HJtMeykVJQZGSIeomcrGfJN/dq8sLb0xtQ5w111/kzdmLG
  }

  handle /api/* {
    reverse_proxy api:3001
  }

  root * /srv
  file_server

  @notFile {
    not file
    not path /api/*
  }
  rewrite @notFile /index.html
}