{$DOMAIN} {
  encode zstd gzip

  basic_auth {
    sniktitt $2a$14$Sg5D61QG6/0luqJtWiX.t.6QTtm3ChxMZXXlJybxgM91kDqCVsv3K
  }

  handle /api/* {
    reverse_proxy api:3001
  }

  root * /srv
  file_server

  @notFile {
    not file
    not path /api/*
  }
  rewrite @notFile /index.html
}